<!DOCTYPE html>
<html>
  <head>
  </head>
  <header>
  </header>
  <body>
  <h1>Must-Do Forum: Movies/R&B</h1>
    <hr/>
     <div id="container">
    <ul>
      <% for(var i = 0; i < music.length; i++) { %>
        <% if(music[i].genre === 'R&B') { %>
        <li>
          <a href="music/<%=music[i].id%>">
          <%=music[i].artist%>
          </a> 
          <h4><%=music[i].album%></h4>
          <h4><%=music[i].song%></h4>
          <h4><%=music[i].comment%></h4>
          <h4><%=music[i].username%></h4>
           </li>
           <hr/>
            

   

    </div> 
    <%}%>
    <% } %>
      <a href="rb/new">Create</a>
      <a href="/mustdo">Home</a>
      <a href="/mustdo/music">Back</a>
  </body>
</html>